.wrapper {
  width: 46rem;
  min-height: 4.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  background: var(--gray-500);
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);

}

.wrapper + .wrapper { 
  margin-top: 0.75rem;
}

.textTask {
  width: 39.5rem;
  margin-left: 12px;
  font-weight: 400;
  font-size: 0.875rem;
  font-style: normal;
  color: var(--gray-100);
  line-height: 140%;
}

.textTaskChecked {
  width: 39.5rem;
  margin-left: 12px;
  font-weight: 400;
  font-size: 0.875rem;
  font-style: normal;
  color: var(--gray-300);
  line-height: 140%;
  text-decoration-line: line-through;
}

.wrapperTrash {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.trash {
  width: 18.5px;
  height: 20px;
  color: var(--gray-300);
  transition: all 0.2s ease-in-out;
  margin-bottom: 2px;
}

.trash:hover {
  color: var(--danger-500);
}

.wrapperTrash:hover { 
  background: var(--gray-400);
  border-radius: 8px;
}

/* Estilo do container do checkbox */
.checkboxContainer {
  display: flex;
  position: relative;
  cursor: pointer;
  margin-top: 3px;
}

/* Estilo do checkbox propriamente dito */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Estilo do marcador do checkbox */
.checkmark {
  position: absolute;
  top: 13.64%;
  left: 13.64%;
  top: 13.64%;
  bottom: 13.64%;
  width: 17.45px;
  height: 17.45px;
  border-radius: 50%;
  border: 2px solid var(--blue-100);
  transition: all 0.2s ease-in-out;
}

.checkmark:hover {
  background-color: var(--blue-hover-500);  
  }

/* Estilo do marcador do checkbox quando estiver marcado */
.checkboxContainer input:checked ~ .checkmark {
  background-color: var(--purple-700);
  width: 17.45px;
  height: 17.45px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.checkboxContainer input:checked ~ .checkmark:hover {
  background-color: var(--purple-100);
}

/* Estilo do sinal de visto dentro do marcador quando o checkbox está marcado */
.checkboxContainer input:checked ~ .checkmark:after {
  content: "";
  position: absolute;
  top: 46%;
  left: 50%;  
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 5.00px;
  height: 1.8px;
  border: solid var(--gray-100);
  border-width: 0px 0px 2px 2px;
  display: flex; 
  justify-content: center;
  align-self: center;
}

