.containerWrapper {
  margin-top: 4rem;
}

.contentHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.5rem;  
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 46rem;  
  
}

.tasksCreated {
  width: 8.688rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;  
}

.tasksCreated strong {
  font-size: 0.875rem;
  line-height: 1.063rem;
  color: var(--blue-100);
}

.tasksCreated span{
  font-weight: 700;
  min-width: 1.563rem;
  height: 19px;
  padding: 0.125rem 0.5rem 0.125rem 0.5rem;  
  font-size: 0.75rem;
  color: var(--gray-200);
  background-color: var(--gray-400);
  border-radius: 62.438rem;
  gap: 0.625rem;
  line-height: 1.063rem;  
  text-align: center;
  
}

.completedTasks {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.completedTasks strong {
  font-size: 0.875rem;
  line-height: 1.063rem;
  color: var(--purple-100);
}

.completedTasks span{
  font-weight: 700;
  min-width: 1.563rem;
  height: 19px;
  padding: 0.125rem 0.5rem 0.125rem 0.5rem;  
  font-size: 0.75rem;
  color: var(--gray-200);
  background-color: var(--gray-400);
  border-radius: 62.438rem;
  gap: 0.625rem;
  line-height: 1.063rem;  
  text-align: center;  
}






